<header class="navbar">
    <div class="container">
        <div class="logo">
            <h1>MyWebsite</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/product">Products</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
